.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-template-rows: repeat(min-content);
  gap: 20px;
}

.card {
  height: 100%;
  background-color: var(--color-bg-card);
}
/* .card img {
  object-fit: cover;
} */

.info {
  padding: 15px 36px 16px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
  text-decoration: none;
}