* {
  box-sizing: border-box;
}
:root {
  --white: white;
  --base-color: #2b2b2b;
  --grey-color: #767676;
  --grey: #f0f0f6;
  --light-grey: #fafafa;
  --accent-color: #ffb400;
}

body[data-theme='dark'] {
  --colors-text: #F5FFFA;
  --color-title: var(--white);
  --colors-bg: #212123;
  --color-item-bg: #2b2b2b;
  --color-bg-card: var(--grey-color);
  --color-bg-item: var(--grey-color);
  --color-banner: var(--grey-color);
}

body[data-theme='light'] {
  --colors-text: var(--grey-color);
  --color-title: var(--base-color);
  --colors-bg: #f0f0f6;
  --color-item-bg: var(--white);
  --color-bg-card: var(--white);
  --color-bg-item: var(--grey);
  --color-banner: var(--white);
}

body {
  background-color: var(--colors-bg);
  line-height: 24px;
  color: var(--colors-text);
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a,
button,
svg {
  cursor: pointer;
}
a {
  text-decoration: none;
}

/* Utils */

.base-title {
  font-size: 18px;
  color: var(--color-title);
  font-weight: 500;
}
.section-title {
  text-align: center;
  margin-bottom: 33px;
}
.h2-title {
  color: var(--color-title);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%;
  text-transform: capitalize;
}

.base-icon {
  fill: var(--color-title);
  margin-top: 10px;
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}

.m-center {
  margin: 0 auto;
}

.button {
  background-color: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--colors-title);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(min-content, 20vw) 1fr 80px;
  gap: 20px;
}
.home {
  padding: 0px 20px;
}

@media (max-width: 690px) {
  .app {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "right"
      "left"
      "center";
    gap: 0px;
  }
    .home {
      grid-area: center;
    }
}
